<script lang="ts">
  import ActionButton from '../ActionButton/ActionButton.svelte';
  import Portrait from '../Portrait/Portrait.svelte';

  const headerTextVariants: string[] = [
    'Jordan Purinton 👋',
    'a software engineer 💻',
    'a fan of TypeScript ✅',
    'a cereal enjoyer 🥣',
    'a passionate Mario Tennis player 🎾',
    'just happy to be here :)',
  ];
  let headerTextIndex = 0;

  setInterval(() => {
    headerTextIndex === headerTextVariants.length - 1
      ? (headerTextIndex = 0)
      : (headerTextIndex += 1);
  }, 5000);
</script>

<div class="Header">
  <Portrait />
  <h1 class="name-header">
    Hello, I'm <br />{headerTextVariants[headerTextIndex]}
    <span class="blinker">|</span>
  </h1>
  <ActionButton text="Email" url="mailto:me@jordanpurinton.com" />
  <ActionButton
    text="LinkedIn"
    url="https://www.linkedin.com/in/jordanpurinton"
  />
  <ActionButton text="GitHub" url="https://github.com/jordanpurinton" />
  <hr />
</div>

<style>
  h1 {
    font-size: 36px;
    font-family: 'Roboto Mono';
  }
  .Header {
    text-align: center;
  }
  .name-header {
    padding: 20px 0 0 0;
    margin: 0;
  }
  .blinker {
    animation: blink 1.5s linear infinite alternate;
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  hr {
    border: solid 2px var(--primary-color);
  }
</style>
