---
export interface Props {
	title: string;
	href: string;
}
const { title, href } = Astro.props;
---

<a class="action-button" href={href} target="_blank">{title}</a>

<style>
	.action-button {
		background: #111;
		border: 0;
		border-radius: 0.5rem;
		cursor: pointer;
		font-weight: 600;
		max-height: 24px;
		min-height: 24px;
		outline: 0;
		padding: 1rem;
		text-decoration: none;
	}
	.action-button:hover {
		text-decoration: underline;
		transition: ease-out 0.4s;
	}
</style>
