---
export interface Props {
	title: string;
	href: string;
}
const { title, href } = Astro.props;
---

<a class="action-button" href={href} target="_blank">{title}</a>

<style>
	.action-button {
		background: #111;
		border: solid 1px var(--primary-color);
		border-radius: 0.5rem;
		cursor: pointer;
		font-weight: 600;
		max-height: 20px;
		min-height: 20px;
		outline: 0;
		padding: 1rem;
		text-decoration: none;
	}
	@media (max-width: 768px) {
		.action-button {
			font-size: 0.75rem;
		}
	}
	.action-button:hover {
		color: var(--secondary-color);
		border-color: var(--secondary-color);
		transition: ease-in 0.25s;
	}
</style>
