---
export interface Props {
	title: string;
	href: string;
}
const { title, href } = Astro.props;
---

<a class="action-button" href={href} target="_blank">{title}</a>

<style>
	.action-button {
		align-items: center;
		background: #111;
		border: solid 1px var(--primary-color);
		border-radius: 0.5rem;
		cursor: pointer;
		display: flex;
		font-weight: 600;
		justify-content: center;
		max-height: 20px;
		min-height: 20px;
		outline: 0;
		padding: 1.25rem 1.75rem;
		text-align: center;
		text-decoration: none;
	}
	.action-button:hover {
		color: var(--secondary-color);
		border-color: var(--secondary-color);
		transition: ease-in 0.25s;
	}
</style>
