---
import Blinker from '../react/Blinker';
import NeonText from '../react/NeonText';
import Card from './Card.astro';
---

<div>
	<h1><NeonText client-load content="Experience" /></h1>
	<ul role="list" class="card-grid">
		<Card
			title="The Walt Disney Company"
			bulletPoints={[
				'I have built several dynamic web applications and tools that help facilitate content scheduling, data visualization and developer productivity.',
				'While I cannot share the internal facing products/tools I have built at the Walt Disney Company, these are a few of the domains I have contributed to at TWDC.',
			]}
			imgSrc="twdc"
			tools="TypeScript, HTML/CSS, React, TRPC, React Query, Bash, Python"
		/>
		<Card
			title="Gatherboard Mobile App"
			bulletPoints={[
				'Served as software engineer and team Lead for cross platform mobile app project in capstone course, managing a small team of developers.',
				'Released application to Android and iOS app stores for users to find community events in their area.',
			]}
			imgSrc="gatherboard"
			tools="TypeScript, Angular, HTML/CSS, Ionic Framework"
			actionButtonProps={[
				{
					href: 'https://play.google.com/store/apps/details?id=com.gatherboard.app',
					title: 'View Android',
				},
				{
					href: 'https://play.google.com/store/apps/details?id=com.gatherboard.app',
					title: 'View iOS',
				},
			]}
		/>
		<Card
			title="Orbital Shift Mobile Apps"
			bulletPoints={[
				'Brought Orbital Shift into the mobile space, building and releasing both the Orbital Shift Employee App, as well as the Orbital Shift Punch Clock App.',
				'Enabled employees and managers to clock in/out, view schedules, and view company updates.',
			]}
			imgSrc="orbitalshift"
			tools="TypeScript, Angular, HTML/CSS, Ionic Framework"
			actionButtonProps={[
				{
					href: 'https://play.google.com/store/apps/details?id=com.orbitalshift.app&hl=en',
					title: 'View Employee App',
				},
				{
					href: 'https://play.google.com/store/apps/details?id=com.orbitalshiftpunchclock.app&hl=en',
					title: 'View Punch Clock App',
				},
			]}
		/>
		<Card
			title="Say Something"
			bulletPoints={[
				'Built full stack application from the ground up, using modern tooling and enabling users to send/receive a message each day.',
				'Wrote the backend using TRPC and integrated with Auth0 for user authentication.',
			]}
			imgSrc="say-something"
			tools="TypeScript, React, NextJS, TRPC, React Query, PlanetScale, Vercel, HTML/CSS"
			actionButtonProps={[
				{
					href: 'https://say-something-indol.vercel.app/',
					title: 'View Site',
				},
				{
					href: 'https://github.com/jordanpurinton/say-something',
					title: 'View Code',
				},
			]}
		/>
	</ul>
</div>

<style>
	.card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		justify-content: flex-start;
		gap: 4rem;
		padding: 0;
	}
	@media (max-width: 600px) {
		.card-grid {
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		}
	}
</style>
