<div class="description">
	<p>
		My name is Jordan Purinton.<br />
		I'm a software engineer who's passionate about all things frontend.
		<br />
		<br />
		I hope you enjoy exploring my site.
		<br />
	</p>
</div>

<style>
	.description {
		align-items: center;
		border-radius: 1rem;
		display: flex;
		justify-content: center;
		text-align: center;
	}
</style>
