<div class="me-container">
	<video class="me-gif" playsinline autoplay muted>
		<source src="me.webm" type="video/webm" />
		Your browser does not support the video tag.
	</video>
</div>

<style>
	.me-container {
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.me-gif {
		clip-path: circle();
		height: 150px;
		margin-top: 1rem;
		width: 150px;
	}
</style>
