<div class="me-container"><img src="me.gif" class="me-gif" /></div>

<style>
  .me-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .me-gif {
    clip-path: circle();
    height: 150px;
    margin-top: 1rem;
    width: 150px;
  }
</style>
