<script lang="ts">
  import { Deck } from './Deck';
  import { Game, GameStatus, Result } from './Game';
  import { Player } from './Player';

  let deck = new Deck();
  let player: Player;
  let dealer = new Player('Dealer');
  let game = new Game(deck, player, dealer);
  let playerName = '';

  const createPlayer = () => {
    game.createPlayer(playerName);
    game.isPendingPlayerMove = true;
    game = game;
  };

  const setGameEnteringUsername = () => {
    game.gameStatus = GameStatus.EnteringUsername;
    game = game;
  };

  const drawPlayerCard = () => {
    game.drawPlayerCard();
    game = game;
  };

  const setPlayerStanding = () => {
    game.player.isStanding = true;
    if (!game.dealer.isStanding) {
      drawDealerCard();
    }
  };

  const drawDealerCard = () => {
    game.dealer.isStanding ? game.drawPlayerCard() : game.drawDealerCard();
    game = game;
  };

  const restartGame = () => {
    deck = new Deck();
    player = new Player(playerName);
    dealer = new Player('Dealer');
    game = new Game(deck, player, dealer);
    game.gameStatus = GameStatus.InProgress;
    drawPlayerCard();
    drawDealerCard();
    game = game;
  };
</script>

<div
  class="blackjack-container"
  style={game.gameStatus !== GameStatus.GameNotStarted
    ? 'border: solid 1px'
    : null}
>
  {#if game.gameStatus === GameStatus.GameNotStarted}
    <p>Already bored? Try a game of Blackjack</p>{/if}
  {#if game.gameStatus !== GameStatus.GameNotStarted && game.gameStatus !== GameStatus.GameOver}
    <h2>Blackjack</h2>
  {/if}
  {#if game.gameStatus === GameStatus.GameNotStarted}
    <button on:click={() => setGameEnteringUsername()}>PLAY BLACKJACK</button>
  {/if}

  <!-- game over result -->
  {#if game.gameStatus === GameStatus.GameOver}
    <h2>
      {#if game.result === Result.PlayerWin}
        You win!
      {/if}
      {#if game.result === Result.DealerWin}
        You lost :(
      {/if}
      {#if game.result === Result.Tie}
        Draw!
      {/if}
    </h2>
  {/if}

  <!-- entering username -->
  {#if game.gameStatus === GameStatus.EnteringUsername}
    <div>
      <input
        placeholder="Enter name here..."
        bind:value={playerName}
        on:keyup={(e) => e.key === 'Enter' && createPlayer()}
      />
    </div>
    <div>
      <button
        on:click={() => createPlayer()}
        disabled={playerName.trim() === ''}>SUBMIT</button
      >
    </div>
  {/if}

  <!-- scoreboard when game in progress or game over -->
  {#if game.gameStatus === GameStatus.InProgress || game.gameStatus === GameStatus.GameOver}
    <div>
      <p>
        {game.player.name} - {game.player.score}
        {#if game.player.isStanding && game.gameStatus !== GameStatus.GameOver} (Standing){/if}
        {#if game.gameStatus === GameStatus.GameOver}
          {#if game.player.didBust}(Busted){/if}
          {#if (game.dealer.didBust || game.player.score > game.dealer.score) && !game.player.didBust}(Winner!){/if}
        {/if}
      </p>
      <p>
        Dealer - {game.dealer.score}
        {#if game.dealer.isStanding && game.gameStatus !== GameStatus.GameOver}(Standing){/if}
        {#if game.dealer.didBust}(Busted){/if}
        {#if game.gameStatus === GameStatus.GameOver}
          {#if (game.player.didBust || game.dealer.score > game.player.score) && !game.dealer.didBust}(Winner!){/if}
        {/if}
      </p>
      <p>Your current hand:</p>
      <small>{game.player.listCurrentHand()}</small>
      <p>Dealer's hand:</p>
      <small>{game.dealer.listCurrentHand()}</small>
    </div>
  {/if}

  <!-- button controls when game in progress -->
  {#if game.gameStatus === GameStatus.InProgress}
    <button
      on:click={() => setPlayerStanding()}
      disabled={game.player.isStanding ||
        (game.dealer.isStanding && game.player.score < game.dealer.score) ||
        game.isPendingDealerMove}
    >
      STAND
    </button>
    <button
      on:click={() => drawPlayerCard()}
      disabled={game.player.isStanding || game.isPendingDealerMove}
      >HIT
    </button>
    <button
      on:click={() => drawDealerCard()}
      disabled={!game.isPendingDealerMove || game.dealer.isStanding}
      >NEXT TURN</button
    >
  {/if}

  <!-- rematch and cancel button when there is a game over -->
  {#if game.gameStatus === GameStatus.GameOver}
    <button on:click={() => restartGame()}>REMATCH</button>
  {/if}
</div>

<style>
  .blackjack-container {
    text-align: center;
    margin: 12px;
    padding: 12px;
  }
</style>
