html,
body {
  position: relative;
  width: 100%;
  height: 100%;
	--primary-color: #39ff14;
}

body {
  background: #000;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

input {
  border: solid 1px var(--primary-color);
  background: none;
  outline: none;
  padding: 6px;
}

input,
select,
textarea {
  color: var(--primary-color);
	font-family: inherit;
}

::placeholder {
  color: var(--primary-color);
}

button {
  border: solid 1px var(--primary-color);
  background: none;
  color: var(--primary-color);
  padding: 6px 12px;
	margin: 1em 0;
	font-family: inherit;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

button:disabled {
  opacity: 0.3;
	cursor: not-allowed;
}
