<center>
  <p>
    Hi there, my name is Jordan Purinton.<br />
    I'm a software engineer who's passionate about all things frontend.<br />
    I hope you enjoy exploring my site.
  </p>
</center>

<style>
  center {
    margin: 0 50px;
  }
</style>
