.blackJackContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 3rem 1rem 0 1rem;
	text-align: center;
}

.gameButtonContainer {
	align-items: center;
	display: flex;
	gap: 0 1rem;
	justify-content: center;
	position: sticky;
}

.resetGameButton {
	border: solid 1px red;
	color: red;
	padding: 1rem;
}

.gameControlButton {
	padding: 1rem;
}

.playerContainer {
	align-items: center;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem 0;
	text-align: center;
	width: 100%;
}

.playerScoreContainaer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.5rem 3rem;
}

.playerScoreContainaer {
	align-items: center;
	display: flex;
	justify-content: center;
}

.card {
	display: inline-flex;
	font-size: 6rem;
}

.hidden {
	visibility: hidden;
}

.nameHeader {
	margin: 1rem 0 0 0;
}

.playerScoreHeader {
	margin: 0 0 1rem 0;
}
