.blackJackContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1.5rem;
	padding: 1rem;
}

.gameButtonContainer {
	display: flex;
	gap: 1rem;
	position: fixed;
	bottom: 3rem;
}

p {
	margin: 0.25rem;
}

h3 {
	margin: 0.25rem;
}

.resetGameButton {
	border: solid 1px red;
	color: red;
	padding: 0.75rem;
}

.gameControlButton {
	padding: 0.75rem;
}

.playerContainer {
	align-items: center;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem 0;
	text-align: center;
	width: 100%;
}

.subtitle {
	text-decoration: underline;
}

.subtitleBad {
	color: red;
}

.subtitleGood {
	color: green;
}

.subtitleNeutral {
	color: yellow;
}
