.blackJackContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	padding: 1rem;
	text-align: center;
}

.gameButtonContainer {
	display: flex;
	gap: 1rem;
	position: fixed;
	bottom: 4rem;
}

.resetGameButton {
	border: solid 1px red;
	color: red;
	padding: 1rem;
}

.gameControlButton {
	padding: 1rem;
}

.playerContainer {
	align-items: center;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem 0;
	text-align: center;
	width: 100%;
}

.playerScoreContainaer {
	border-radius: 1rem;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 2rem;
	outline: solid 1px var(--primary-color);
	padding: 0.5rem 3rem;
}
