.nameInput {
	width: 250px;
}

.buttonContainer {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: flex-start;
	margin-top: 1rem;
}

.closeButton {
	color: white;
	border: solid 1px white;
	position: absolute;
	right: 2rem;
	top: 4rem;
	padding: 0.75rem;
}

.inputNameContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 3rem 1rem 0 1rem;
}

.enterNameContainer {
	margin: 3rem 0;
	text-align: center;
}
