<script>
  export let text;
  export let url;
</script>

<button
  class="action-button"
  on:click={window.open(url, '_blank')}
  target="_blank"
  >{text}
</button>

<style>
  .action-button {
    text-decoration: underline;
    cursor: pointer;
  }
</style>
