<script lange="ts">
  let srcPattern = `img/me`;
  let pixelatedPattern = `pixelated`;
  let ext = 'png';
  let imgSrc = `${srcPattern}-${pixelatedPattern}-1.${ext}`;
  const imgSrcs = [];

  // add images to imgSrcs array
  for (const x of Array(31).keys()) {
    imgSrcs.push(`${srcPattern}-${pixelatedPattern}-${x + 1}.${ext}`);
  }
  imgSrcs.push(`${srcPattern}.${ext}`);

  const animate = async () => {
    for (const src of imgSrcs) {
      let img = new Image();
      img.src = src;
      await img.decode();
      await img.onload;
      setTimeout(() => {
        imgSrc = src;
      }, 100);
    }
  };
  animate();
</script>

<img id="portrait" src={imgSrc} alt="Jordan Purinton" />

<style>
  #portrait {
    margin-top: 20px;
    height: 150px;
    width: 150px;
    clip-path: circle();
  }
</style>
