.neonText {
	color: #fff6a9;
	font-family: Geneva, Tahoma, sans-serif;
	letter-spacing: 2px;
	margin-right: 0;
	text-shadow: 0 0 5px var(--primary-color), 0 0 15px var(--primary-color),
		0 0 20px var(--primary-color), 0 0 40px var(--primary-color);
	text-transform: uppercase;
}
