<script lang="ts">
  import Blackjack from './Blackjack/Blackjack.svelte';
  import Description from './Description/Description.svelte';
  import Header from './Header/Header.svelte';
</script>

<Header />
<Description />
<Blackjack />
