---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes"
		/>
		<link rel="
      icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script
			src="https://cdn.lr-ingest.com/LogRocket.min.js"
			crossorigin="anonymous"
		></script>
		<script>
			window.LogRocket &&
				window.LogRocket.init('jordan-purinton/jordanpurintoncom');
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--primary-color: #00ff1e;
		--primary-color-gradient: linear-gradient(
			45deg,
			var(--primary-color),
			var(--secondary-color),
			white 60%
		);
		--secondary-color: #d500c7;
	}
	html {
		font-family: 'Courier New', Courier, monospace;
		font-kerning: none;
		height: 100%;
		widows: 100%;
	}
	body {
		background-color: #111;
		margin: 0;
	}
	a,
	p,
	h1,
	h2,
	button {
		color: var(--primary-color);
		color: var(--primary-color);
	}
	[astro-icon] {
		color: var(--primary-color);
	}
</style>
