---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, height=device-height, initial-scale=1.0"
		/>
		<link rel="
			icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="prefetch"
			href="/me.webm"
			crossorigin=""
			as="video"
			type="video/webm"
		/>
		<link rel="prefetch" href="/gatherboard.png" crossorigin="" as="image" />
		<link rel="prefetch" href="/orbitalshift.png" crossorigin="" as="image" />
		<link rel="prefetch" href="/say-something.png" crossorigin="" as="image" />
		<link rel="prefetch" href="/twdc.png" crossorigin="" as="image" />
		<link rel="prefetch" href="/jesse.png" crossorigin="" as="image" />
		<link rel="prefetch" href="/johnathan.png" crossorigin="" as="image" />
		<link rel="prefetch" href="/scott.png" crossorigin="" as="image" />
		<title>{title}</title>
		<script
			src="https://cdn.lr-ingest.com/LogRocket.min.js"
			crossorigin="anonymous"
		></script>
		<script>
			(window as any)?.LogRocket?.init?.('jordan-purinton/jordanpurintoncom');
		</script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-XZWR4NNKRY"
		></script>
		<script>
			(window as any).dataLayer = (window as any).dataLayer || [];
			function gtag() {
				(dataLayer as any).push(arguments);
			}
			(gtag as any)('js', new Date());

			(gtag as any)('config', 'G-XZWR4NNKRY');
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--primary-color: #00ff1e;
		--secondary-color: #ff00e1;
	}
	html {
		font-family: 'Courier New', Courier, monospace;
		font-kerning: none;
		height: 100vh;
		min-height: 100vh;
		overscroll-behavior: none;
		width: 100%;
	}
	body {
		background: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 32, 14) 75%);
		background-attachment: fixed;
		height: 100vh;
		margin: 0;
		min-height: 100vh;
		overscroll-behavior: none;
	}
	a,
	b,
	p,
	h1,
	h2,
	h3,
	button {
		color: var(--primary-color);
	}
	[astro-icon] {
		color: var(--primary-color);
	}
	[astro-icon]:hover {
		color: var(--secondary-color);
		transition: ease-in 0.25s;
	}
</style>
