---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes"
		/>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script
			src="https://cdn.lr-ingest.com/LogRocket.min.js"
			crossorigin="anonymous"
		></script>
		<script>
			(window as any)?.LogRocket?.init?.('jordan-purinton/jordanpurintoncom');
		</script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-XZWR4NNKRY"
		></script>
		<script>
			(window as any).dataLayer = (window as any).dataLayer || [];
			function gtag() {
				(dataLayer as any).push(arguments);
			}
			(gtag as any)('js', new Date());

			(gtag as any)('config', 'G-XZWR4NNKRY');
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--primary-color: #00ff1e;
		--primary-color-gradient: linear-gradient(
			45deg,
			var(--primary-color),
			var(--secondary-color),
			white 60%
		);
		--secondary-color: #d500c7;
	}
	html {
		font-family: 'Courier New', Courier, monospace;
		font-kerning: none;
		height: 100%;
		width: 100%;
	}
	body {
		background: linear-gradient(rgb(0, 59, 25) 0%, rgb(0, 19, 8) 50%);
		background-attachment: fixed;
		margin: 0 6rem;
	}
	@media (max-width: 500px) {
		body {
			margin: 0 1rem;
		}
	}
	a,
	b,
	p,
	h1,
	h2,
	button {
		color: var(--primary-color);
	}
	[astro-icon] {
		color: var(--primary-color);
	}
</style>
